.header {
  background-color: red;
  text-align: center;
}

.board {
  background-color: blue;
}

.menu {
  background-color: green;
}

.cell {
  background-color: white;
  padding: 0 2px 0 25px;
  outline-style: solid;
}
