.header {
  background-color: red;
  text-align: center;
}

#player-board {

}

#radar {

}

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ddd;
  opacity: 0.3;  
}

.board {
  background-color: blue;
}

.menu {
  background-color: green;
}

.cell {
  background-color: white;
  padding: 1.5vw 0 0 1.5vw;
  outline-style: solid;
}
