.header {
  background-color: red;
  text-align: center;
}

.board {
  background-color: blue;
}

.menu {
  background-color: green;
}

.cell {
  background-color: white;
  padding: 1.5vw 0 0 1.5vw;
  outline-style: solid;
}
